!!! 5
%html
  %head
    %title Cooling Towers
    %link(rel="stylesheet" type="text/css" href="reset.css")
    %link(rel="stylesheet" type="text/css" href="main.css")
  %body
    %header
      %img.banner(src="images/ctbanner-960x200.jpg")
    %nav
      %ul
        %li news
        %li shows
        %li audio
        %li pics
        %li contact
    #main
      %p here is some content
      %p here is some content
      %p here is some content
      %p here is some content
      %p here is some content
      %p here is some content
      %p here is some content
      %p here is some content
      %p here is some content
      %p here is some content
      %p here is some content
      %p here is some content

