!!! 5
%html
  <!-- hello, visitor! site code lives at: https://github.com/gamache/coolingtowers -->
  %head
    %title Cooling Towers
    %link(rel="stylesheet" type="text/css" href="reset.css")
    //%link(href='http://fonts.googleapis.com/css?family=Allerta' rel='stylesheet' type='text/css')
    %link(rel="stylesheet" type="text/css" href="main.css")
  %body
    %header
      %a.logo(href="/")
        %h1.logo Cooling Towers

    %nav
      %ul
        %li.news news
        %li.bio bio
        %li.audio audio
        %li.pics pics
        %li.contact contact

    #main
      #news
        #sidebar
          // fb iframe
          %p
            <iframe src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fcoolingtowersmusic&amp;send=false&amp;layout=standard&amp;width=320&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:320px; height:80px;" allowTransparency="true"></iframe>

          #mailchump
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
            <form action="http://coolingtowers.us5.list-manage1.com/subscribe/post?u=f122dd54a2bb389a7b9321753&amp;id=233dd1cdd3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
            <label for="mce-EMAIL">Subscribe to our mailing list!</label>
            <input id="mailchimp-email" type="email" value="" placeholder="you@example.com" name="EMAIL" class="email" required>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            </form>
            </div>


          %p
            "Candy Beach" at the Rumble
            <iframe width="320" height="180" src="http://www.youtube-nocookie.com/embed/MjoXKLDH6Lk" frameborder="0" allowfullscreen></iframe>

          %p
            "Hard Headed Woman" at the Rumble
            <iframe width="320" height="180" src="http://www.youtube-nocookie.com/embed/btw4D45mDqc" frameborder="0" allowfullscreen></iframe>

          %p
            "Kevlar Vest" at the Rumble
            <iframe width="320" height="180" src="http://www.youtube-nocookie.com/embed/DJmwpTpfugw" frameborder="0" allowfullscreen></iframe>

          %p
            "Charlotte" at the Rumble
            <iframe width="320" height="180" src="http://www.youtube-nocookie.com/embed/uER7Lf2nXjU" frameborder="0" allowfullscreen></iframe>

          %p
            "Apple Martin" at the Rumble
            <iframe width="320" height="180" src="http://www.youtube-nocookie.com/embed/HrrpDXRoKBo" frameborder="0" allowfullscreen></iframe>

          %p
            "Charlotte" and "Lead Suitcase"
            %br
            at Great Scott, 26 Jan 2011
            <iframe width="320" height="180" src="http://www.youtube-nocookie.com/embed/LRkIZlWbyQw" frameborder="0" allowfullscreen></iframe>

          %p
            "Chelsea Girls" at TT's, 19 Jan 2011
            <iframe width="320" height="180" src="http://www.youtube-nocookie.com/embed/Stq_W-RCUrw" frameborder="0" allowfullscreen></iframe>


        #content.hidden

      #bio.hidden
        %a(href='images/press/201202-coolingtowers-2400x1350.jpg' target='_blank')
          %img(src='images/press/201202-coolingtowers-400x225.jpg' align='left')
        %p
          Formed in the spring of 2010 by guitarist Ronan Fahy and singer
          Commodore Vic, Cooling Towers has since garnered a healthy dose of
          praise and attention for their vibrant studio recordings and
          boisterous live shows.
        %p
          With Judy Margo on electric piano, Eric Donohue
          on bass, and Pete Gamache on drums, the band has become the unique sum
          of its parts: veterans from disparate corners of a diverse musical
          scene.
        %p
          Armed with a slew of guitar hooks and a little black book full
          of past regrets, their songs are decidedly romantic, and vital. Their
          sound is an amalgamation of indie rock, anthemic British pop and the
          angular aggression of 80's post punk.
        %p
          As word-of-mouth has spread,
          Cooling Towers have gone from local unknowns to well-received
          headliners within a matter of months. The band are currently finishing
          up a collection of tracks with producer Darron Burke of Make Shift
          Studio, set to be released this spring.

        %img(src='images/ctlooksright-940x188.jpg')

      #shows.hidden
        .show
          %h2
            Cantab Lounge (Cambridge, MA)
            %br
            Milling Gowns, Cooling Towers, Eksi Ekso, Pressure System
            %br
            .date Friday, June 29, 2012
            %p

        .show
          %h2
            Radio (Somerville, MA)
            %br
            Cooling Towers, Age Rings (EP Release), Eldridge Rodriguez,
            Sarah Borges + Greg Lyon, Celebrity Handjob (DJ)
            %br
            .date Saturday, May 26, 2012
            %p

        .show
          %h2
            TT the Bear's Place (Cambridge, MA)
            %br
            Cooling Towers, Blackboard Nails, All Echoes Answer
            %br
            .date Friday, May 4, 2012
            %p

        .show
          %h2
            TT the Bear's Place (Cambridge, MA)
            %br
            Rock 'N' Roll Rumble Night 1 w/ Endless Wave, The Rationales,
            The Grownup Noise
            %br
            .date Sunday, April 1, 2012
          %p
            We're headlining the first night of the first round in the
            %a(href='http://wzlx.radio.com/rockandrollrumble/' target='_blank') Rock 'N' Roll Rumble!
            On at 11:15pm, sharp like tack.
            %a(href='https://www.facebook.com/events/388249617869016/' target='_blank') (facebook)

        .show
          %h2
            Middle East Upstairs (Cambridge, MA)
            %br
            Plushgun, Endless Wave
            %br
            .date Saturday, March 18, 2012
          %p
            %a(href='https://www.facebook.com/events/199073196867494/' target='_blank') (facebook)

        .show
          %h2
            Magic Room (Allston, MA)
            %br
            Black Fortress of Opium, Brian Carpenter + The Confessions
            %br
            .date Saturday, March 3, 2012
          %p
            BFOO record release show. With DJ Damian Gregory and DJ Commodore Vic.
            %a(href="https://www.facebook.com/events/158530350913633/" target='_blank') (facebook)


      #audio.hidden
        #tracks <!-- populated by javascript -->
        %img(src='images/ctlooksmostlyright-940x188.jpg')

      #pics.hidden
        <!-- include gallery.html -->

      #contact.hidden
        %p
          %a(target="_blank" href="mailto:contact@coolingtowers.us") contact@coolingtowers.us
        %p
          %a(target='_blank' href="http://facebook.com/coolingtowersmusic") facebook.com/coolingtowersmusic
        %p
          %a(target='_blank' href='http://coolingtowers.bandcamp.com') coolingtowers.bandcamp.com
        %p
          %a(target='_blank' href='http://www.reverbnation.com/coolingtowers') reverbnation.com/coolingtowers
        %br
        %img(src='images/press/201202-fiveheads-940x188.jpg' usemap="#fiveheadsmap")
        %map(name='fiveheadsmap')
          %area(shape="rect" coords='0,0,188,188' href='mailto:ronan@coolingtowers.us')
          %area(shape="rect" coords='188,0,376,188' href='mailto:judy@coolingtowers.us')
          %area(shape="rect" coords='376,0,564,188' href='mailto:adam@coolingtowers.us')
          %area(shape="rect" coords='564,0,752,188' href='mailto:eric@coolingtowers.us')
          %area(shape="rect" coords='752,0,940,188' href='mailto:pete@coolingtowers.us')


    %footer
      copyright 2012 Cooling Towers.

    %script(src="js/jquery-1.7.1.min.js")
    %script(src="js/tumblr-feedeater.js")
    %script(src="js/jquery.opacityrollover.js")
    %script(src="js/jquery.galleriffic.js")
    %script(src="js/main.js")
    %script(src="http://coolingtowersmusic.tumblr.com/api/read/json")
    :javascript
      (function(){
        var f=new FEEDEATER(),
            c=$('#content');
        c.hide();
        f.render({target: c});
        c.fadeIn(400);
      })();

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29987286-1']);
      _gaq.push(['_setDomainName', 'coolingtowers.us']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();


