!!! 5
%html
  <!-- site code lives at: https://github.com/gamache/coolingtowers -->
  %head
    %title Cooling Towers
    %link(rel="stylesheet" type="text/css" href="reset.css")
    %link(href='http://fonts.googleapis.com/css?family=Allerta' rel='stylesheet' type='text/css')
    %link(rel="stylesheet" type="text/css" href="main.css")
  %body
    %header
      %a.logo(href="#news")
        %h1.logo Cooling Towers

    %nav
      %ul
        %li.news news
        %li.bio bio
        %li.shows shows
        %li.audio audio
        %li.pics pics
        %li.contact contact

    #main
      #news
        .item
          %h2 Tonight! CT w/ Black Fortress of Opium
          %p.date 2012-03-03
          %p
            Tonight at the Magic Room in Allston, Black Fortress of Opium plays
            a record release show for their new full-length "Stratospherical"!
            Backup handily provided by Cooling Towers, Brian Carpenter + the
            Confessions, DJ Damian Gregory, and our own DJ Commodore Vic.

        .item
          %h2 Booked with Plushgun on 3/17
          %p.date 2012-02-22
          %p
            Awesome! Picked up a gig with the fabulous
            %a(href='http://plushgun.com') Plushgun
            in mid-March.  We'll be playing the Middle East Upstairs. Get psyched!

        .item
          %h2 Last-minute Show at Radio
          %p.date 2012-02-02
          %p
            Ultra-last-minute! Cooling Towers is pinch-hitting for Camden tomorrow
            night, Friday 2/3 at Radio in Somerville, with Black Helicopter and
            13 Billion Years.  We're happy to see some new faces.
            But old ones, come on down!

        .item
          %h2 Brooklyn and Brooklyn
          %p.date 2012-02-01
          %p
            Cooling Towers is hitting Brooklyn twice this month! 2/4 at The Gutter
            with Lord Classic, and 2/17 at Spike Hill with Missing Ships.

      #bio
        %a(href='images/press/201202-coolingtowers-2400x1350.jpg' target='_blank')
          %img(src='images/press/201202-coolingtowers-400x225.jpg' align='left')
        %p
          Formed in the spring of 2010 by guitarist Ronan Fahy and singer
          Commodore Vic, Cooling Towers has since garnered a healthy dose of
          praise and attention for their vibrant studio recordings and
          boisterous live shows.
        %p
          With Judy Margo on electric piano, Eric Donahue
          on bass, and Pete Gamache on drums, the band has become the unique sum
          of its parts: veterans from disparate corners of a diverse musical
          scene.
        %p
          Armed with a slew of guitar hooks and a little black book full
          of past regrets, their songs are decidedly romantic, and vital. Their
          sound is an amalgamation of indie rock, anthemic British pop and the
          angular aggression of 80's post punk.
        %p
          As word-of-mouth has spread,
          Cooling Towers have gone from local unknowns to well-received
          headliners within a matter of months. The band are currently finishing
          up a collection of tracks with producer Darron Burke of Make Shift
          Studio, set to be released this spring.
        %a(href='images/press/201202-fiveheads-1500x300.jpg' target='_blank')
          %img(src='images/press/201202-fiveheads-940x188.jpg')

      #shows
        .show
          %h2
            Magic Room (Allston, MA)
            %br
            Black Fortress of Opium, Brian Carpenter + The Confessions
            %br
            .date Saturday, March 3, 2012
          %p
            BFOO record release show. With DJ Damian Gregory and DJ Commodore Vic.
            %a(href="https://www.facebook.com/events/158530350913633/") (facebook)

        .show
          %h2
            Middle East Upstairs (Cambridge, MA)
            %br
            Plushgun, Endless Wave
            %br
            .date Saturday, March 17, 2012
          %p
            %a(href="https://www.facebook.com/events/199073196867494/") (facebook)

        %img(src='images/ctlooksright-940x188.jpg')

      #audio
        #tracks <!-- populated by javascript -->
        %img(src='images/ctlooksmostlyright-940x188.jpg')

      #pics
        <!-- include gallery.html -->

      #contact
        %p
          %a(target="_blank" href="mailto:contact@coolingtowers.us") contact@coolingtowers.us
        %p
          %a(target='_blank' href="http://facebook.com/coolingtowersmusic") facebook.com/coolingtowersmusic
        %p
          %a(target='_blank' href='http://coolingtowers.bandcamp.com') coolingtowers.bandcamp.com
        %br
        %img(src='images/press/201202-fiveheads-940x188.jpg' usemap="#fiveheadsmap")
        %map(name='fiveheadsmap')
          %area(shape="rect" coords='0,0,188,188' href='mailto:ronan@coolingtowers.us')
          %area(shape="rect" coords='188,0,376,188' href='mailto:judy@coolingtowers.us')
          %area(shape="rect" coords='376,0,564,188' href='mailto:adam@coolingtowers.us')
          %area(shape="rect" coords='564,0,752,188' href='mailto:eric@coolingtowers.us')
          %area(shape="rect" coords='752,0,940,188' href='mailto:pete@coolingtowers.us')


    %footer
      copyright 2012 Cooling Towers.

    %script(src="js/jquery-1.7.1.min.js")
    // %script(src='http://code.jquery.com/jquery-1.7.1.js')
    %script(src="js/jquery.opacityrollover.js")
    %script(src="js/jquery.galleriffic.js")
    %script(src="js/main.js")

