!!! 5
%html
  <!-- hello, visitor! site code lives at: https://github.com/gamache/coolingtowers -->
  %head
    %title Cooling Towers
    %link(rel="stylesheet" type="text/css" href="reset.css")
    %link(href='http://fonts.googleapis.com/css?family=Allerta' rel='stylesheet' type='text/css')
    %link(rel="stylesheet" type="text/css" href="main.css")
  %body
    %header
      %a.logo(href="#")
        %h1.logo Cooling Towers

    %nav
      %ul
        %li.news news
        %li.bio bio
        %li.audio audio
        %li.pics pics
        %li.contact contact

    #main
      #news
        #sidebar
          // fb iframe
          %p
            <iframe src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fcoolingtowersmusic&amp;send=false&amp;layout=standard&amp;width=320&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:320px; height:80px;" allowTransparency="true"></iframe>

          %p
            "Candy Beach" at the Rumble
            <iframe width="320" height="180" src="http://www.youtube-nocookie.com/embed/MjoXKLDH6Lk" frameborder="0" allowfullscreen></iframe>

          %p
            "Hard Headed Woman" at the Rumble
            <iframe width="320" height="180" src="http://www.youtube-nocookie.com/embed/btw4D45mDqc" frameborder="0" allowfullscreen></iframe>

          %p
            "Kevlar Vest" at the Rumble
            <iframe width="320" height="180" src="http://www.youtube-nocookie.com/embed/DJmwpTpfugw" frameborder="0" allowfullscreen></iframe>

          %p
            "Charlotte" at the Rumble
            <iframe width="320" height="180" src="http://www.youtube-nocookie.com/embed/uER7Lf2nXjU" frameborder="0" allowfullscreen></iframe>

          %p
            "Apple Martin" at the Rumble
            <iframe width="320" height="180" src="http://www.youtube-nocookie.com/embed/HrrpDXRoKBo" frameborder="0" allowfullscreen></iframe>

          %p
            "Charlotte" and "Lead Suitcase"
            %br
            at Great Scott, 26 Jan 2011
            <iframe width="320" height="180" src="http://www.youtube-nocookie.com/embed/LRkIZlWbyQw" frameborder="0" allowfullscreen></iframe>

          %p
            "Chelsea Girls" at TT's, 19 Jan 2011
            <iframe width="320" height="180" src="http://www.youtube-nocookie.com/embed/Stq_W-RCUrw" frameborder="0" allowfullscreen></iframe>


        #content
          .item
            %h2 Lord Classic, Cooling Towers, and more in Brattleboro, VT on 7/14
            %p.date 2012-06-21
            %p
              Hey Vermont! Brooklyn and Boston are ganging up on you for an afternoon
              show at the Stone Church in Brattleboro on Saturday, July 14.
              Beatings commence at 3pm.
              (<a href='images/flyers/20120714-brattleboro.jpg' target='_blank'>flyer</a>)

          .item
            %h2 Cooling Towers, Milling Gowns, Eksi Ekso, Pressure System at Cantab, 6/29
            %p.date 2012-06-20
            %p
              Friday, June 29 at the Cantab Lounge downstairs in Central Sq,
              Cambridge, MA. Milling Gowns are on first and we're on second,
              so come early!
              (<a href='https://www.facebook.com/events/365309943532537/' target='_blank'>facebook event</a>)

          .item
            %h2 CT w/ Age Rings (EP Release) at Radio, 5/26
            %p.date 2012-05-08
            %p
              %a(href='http://www.midriffrecords.com/' target='_blank') Midriff Records
              presents the Age Rings' "AM/PM" EP release show, with
              Cooling Towers, Eldridge Rodriguez, and Sarah Borges +
              Greg Lyon.  DJ sets by Celebrity Handjob.
              (<a href='https://www.facebook.com/events/160873064039260/' target='_blank'>facebook event</a>)

          .item
            %h2 Playing the Rock 'N' Roll Rumble Night 1, Sunday, April 1
            %p.date 2012-03-24
            %p
              Cooling Towers is excited to play in the
              %a(href='http://rockandrollrumble.com' target='_blank') Rumble
              this year!  We headline night 1, Sunday April 1, at TT's.

          .item
            %h2 Tonight! CT w/ Black Fortress of Opium
            %p.date 2012-03-03
            %p
              Tonight at the Magic Room in Allston, Black Fortress of Opium plays
              a record release show for their new full-length "Stratospherical"!
              Backup handily provided by Cooling Towers, Brian Carpenter + the
              Confessions, DJ Damian Gregory, and our own DJ Commodore Vic.

          .item
            %h2 Booked with Plushgun on 3/17
            %p.date 2012-02-22
            %p
              Awesome! Picked up a gig with the fabulous
              %a(href='http://plushgun.com' target='_blank') Plushgun
              in mid-March.  We'll be playing the Middle East Upstairs. Get psyched!

          .item
            %h2 Last-minute Show at Radio
            %p.date 2012-02-02
            %p
              Ultra-last-minute! Cooling Towers is pinch-hitting for Camden tomorrow
              night, Friday 2/3 at Radio in Somerville, with Black Helicopter and
              13 Billion Years.  We're happy to see some new faces.
              But old ones, come on down!

          .item
            %h2 Brooklyn and Brooklyn
            %p.date 2012-02-01
            %p
              Cooling Towers is hitting Brooklyn twice this month! 2/4 at The Gutter
              with Lord Classic, and 2/17 at Spike Hill with Missing Ships.

        .clear


      #bio
        %a(href='images/press/201202-coolingtowers-2400x1350.jpg' target='_blank')
          %img(src='images/press/201202-coolingtowers-400x225.jpg' align='left')
        %p
          Formed in the spring of 2010 by guitarist Ronan Fahy and singer
          Commodore Vic, Cooling Towers has since garnered a healthy dose of
          praise and attention for their vibrant studio recordings and
          boisterous live shows.
        %p
          With Judy Margo on electric piano, Eric Donohue
          on bass, and Pete Gamache on drums, the band has become the unique sum
          of its parts: veterans from disparate corners of a diverse musical
          scene.
        %p
          Armed with a slew of guitar hooks and a little black book full
          of past regrets, their songs are decidedly romantic, and vital. Their
          sound is an amalgamation of indie rock, anthemic British pop and the
          angular aggression of 80's post punk.
        %p
          As word-of-mouth has spread,
          Cooling Towers have gone from local unknowns to well-received
          headliners within a matter of months. The band are currently finishing
          up a collection of tracks with producer Darron Burke of Make Shift
          Studio, set to be released this spring.
        %a(href='images/press/201202-fiveheads-1500x300.jpg' target='_blank')
          %img(src='images/press/201202-fiveheads-940x188.jpg')

      #shows
        .show
          %h2
            Cantab Lounge (Cambridge, MA)
            %br
            Milling Gowns, Cooling Towers, Eksi Ekso, Pressure System
            %br
            .date Friday, June 29, 2012
            %p

        .show
          %h2
            Radio (Somerville, MA)
            %br
            Cooling Towers, Age Rings (EP Release), Eldridge Rodriguez,
            Sarah Borges + Greg Lyon, Celebrity Handjob (DJ)
            %br
            .date Saturday, May 26, 2012
            %p

        .show
          %h2
            TT the Bear's Place (Cambridge, MA)
            %br
            Cooling Towers, Blackboard Nails, All Echoes Answer
            %br
            .date Friday, May 4, 2012
            %p

        .show
          %h2
            TT the Bear's Place (Cambridge, MA)
            %br
            Rock 'N' Roll Rumble Night 1 w/ Endless Wave, The Rationales,
            The Grownup Noise
            %br
            .date Sunday, April 1, 2012
          %p
            We're headlining the first night of the first round in the
            %a(href='http://wzlx.radio.com/rockandrollrumble/' target='_blank') Rock 'N' Roll Rumble!
            On at 11:15pm, sharp like tack.
            %a(href='https://www.facebook.com/events/388249617869016/' target='_blank') (facebook)

        .show
          %h2
            Middle East Upstairs (Cambridge, MA)
            %br
            Plushgun, Endless Wave
            %br
            .date Saturday, March 18, 2012
          %p
            %a(href='https://www.facebook.com/events/199073196867494/' target='_blank') (facebook)

        .show
          %h2
            Magic Room (Allston, MA)
            %br
            Black Fortress of Opium, Brian Carpenter + The Confessions
            %br
            .date Saturday, March 3, 2012
          %p
            BFOO record release show. With DJ Damian Gregory and DJ Commodore Vic.
            %a(href="https://www.facebook.com/events/158530350913633/" target='_blank') (facebook)

        %img(src='images/ctlooksright-940x188.jpg')

      #audio
        #tracks <!-- populated by javascript -->
        %img(src='images/ctlooksmostlyright-940x188.jpg')

      #pics
        <!-- include gallery.html -->

      #contact
        %p
          %a(target="_blank" href="mailto:contact@coolingtowers.us") contact@coolingtowers.us
        %p
          %a(target='_blank' href="http://facebook.com/coolingtowersmusic") facebook.com/coolingtowersmusic
        %p
          %a(target='_blank' href='http://coolingtowers.bandcamp.com') coolingtowers.bandcamp.com
        %p
          %a(target='_blank' href='http://www.reverbnation.com/coolingtowers') reverbnation.com/coolingtowers
        %br
        %img(src='images/press/201202-fiveheads-940x188.jpg' usemap="#fiveheadsmap")
        %map(name='fiveheadsmap')
          %area(shape="rect" coords='0,0,188,188' href='mailto:ronan@coolingtowers.us')
          %area(shape="rect" coords='188,0,376,188' href='mailto:judy@coolingtowers.us')
          %area(shape="rect" coords='376,0,564,188' href='mailto:adam@coolingtowers.us')
          %area(shape="rect" coords='564,0,752,188' href='mailto:eric@coolingtowers.us')
          %area(shape="rect" coords='752,0,940,188' href='mailto:pete@coolingtowers.us')


    %footer
      copyright 2012 Cooling Towers.

    %script(src="js/jquery-1.7.1.min.js")
    // %script(src='http://code.jquery.com/jquery-1.7.1.js')
    %script(src="js/jquery.opacityrollover.js")
    %script(src="js/jquery.galleriffic.js")
    %script(src="js/main.js")
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29987286-1']);
      _gaq.push(['_setDomainName', 'coolingtowers.us']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();


