!!! 5
%html
  %head
    %title Cooling Towers
    %link(rel="stylesheet" type="text/css" href="reset.css")
    %link(rel="stylesheet" type="text/css" href="main.css")
    %script(src="js/jquery-1.7.1.min.js")
    %script(src="js/jquery.opacityrollover.js")
    %script(src="js/jquery.galleriffic.js")
    %script(src="js/main.js")
  %body
    %header
      %img.banner(src="images/ctbanner-960x110.jpg")
    %nav
      %ul
        %li news
        %li bio
        %li shows
        %li audio
        %li pics
        %li contact
    #main
      #news
        .item
          %h2 Judy ironed her hair
          %p.date 2012-02-16
          %p Judy flatironed her hair. Very exciting, very exciting.
        .item
          %h2 CT plays Spike Hill this Friday
          %p.date 2012-02-16
          %p This is gonna be rad.  It's in Brooklyn like a lot of cool stuff.

      #bio
        Cooling Towers bla bla bla

      #shows
        .show
          %h2 Spike Hill (Brooklyn, NY)
          %h2 Missing Ships, Bonny Bear, Sir Paul McCartney
          %h2.date Friday, February 17, 2012
          %p This is some show info.
          %p Here is more.
        .show
          %h2 Magic Room (Allston, MA)
          %h2 Black Fortress of Four Loko, Spyrm Wyzyrd
          %h2.date Saturday, March 3, 2012
          %p With special guest GG Allin and the Murder Junkies

      #audio
        //%h1 Audio
      #pics
        //%h1 Pics
        <!-- include gallery.html -->
      #contact
        //%h1 Contact
  </ul>
</div>
