html {
  background-color: black;
  color: black; }

body {
  width: 960px;
  min-height: 100%;
  margin: 10px auto 10px auto;
  font-family: 'Allerta', 'Geneva', 'Tahoma', sans-serif;
  font-size: 16px; }

@font-face {
  font-family: 'AkiLinesRegular';
  src: url("fonts/akilinesregular-webfont.eot");
  src: url("fonts/akilinesregular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/akilinesregular-webfont.woff") format("woff"), url("fonts/akilinesregular-webfont.ttf") format("truetype"), url("fonts/akilinesregular-webfont.svg#AkiLinesRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

h1 {
  font-size: 218%; }

h2 {
  font-size: 164%; }

h3 {
  font-size: 145%; }

h4 {
  font-size: 118%; }

h1, h2, h3, h4 {
  display: block;
  font-family: 'Allerta', 'Geneva', 'Tahoma', sans-serif;
  font-weight: bold;
  margin: 10px 0px; }

header {
  background-image: url("images/ctbanner-960x110-notext.jpg");
  width: 960px;
  height: 110px; }
  header h1.logo {
    color: white;
    font-family: 'AkiLinesRegular';
    font-weight: normal;
    font-size: 80px;
    position: relative;
    left: 10px;
    top: 15px; }
  header a, header a:active, header a:visited {
    text-decoration: none;
    color: black; }

footer {
  text-align: center;
  font-size: 12px;
  margin: 10px 0px;
  clear: both; }

nav {
  margin: 5px 0px;
  padding: 0px;
  padding-left: 10px;
  display: block;
  font-family: "AkiLinesRegular", sans-serif;
  font-size: 40px;
  background-image: url("images/ctnav-960x60.jpg"); }
  nav ul {
    list-style-type: none; }
    nav ul li {
      padding: 10px;
      margin-right: 10px;
      display: inline-block;
      color: #dddddd; }
    nav ul li.selected {
      background-color: rgba(0, 0, 0, 0.25);
      color: white; }

#main {
  position: relative;
  background-color: #f8f8f8;
  padding: 10px;
  padding-bottom: 20px; }
  #main p {
    margin: 5px 0px;
    line-height: 1.4; }
  #main img[align=left] {
    margin: 10px 10px 10px 0px; }
  #main img[align=right] {
    margin: 10px 0px 10px 10px; }
  #main a {
    color: black; }

#bio p {
  margin: 5px 0px 25px 0px; }

#news .item {
  margin-bottom: 30px; }
#news .clear {
  width: 100%;
  clear: both; }
#news #content {
  width: 600px; }
#news #sidebar {
  width: 320px;
  float: right; }
  #news #sidebar p {
    padding-bottom: 5px; }

#shows .show {
  margin-bottom: 30px; }

#contact {
  font-size: 24px; }
  #contact a {
    text-decoration: underline; }

#audio h2 {
  margin-top: 0px; }
#audio .track {
  clear: both;
  padding: 10px 0px; }
  #audio .track > img {
    float: left;
    margin-right: 20px; }

#pics div.content {
  /* The display of content is enabled using jQuery so that the slideshow content won't display unless javascript is enabled. */
  display: none;
  float: right;
  width: 550px; }
#pics div.content a, #pics div.navigation a {
  text-decoration: none;
  color: #777; }
#pics div.content a:focus, #pics div.content a:hover, #pics div.content a:active {
  text-decoration: none; }
#pics div.controls {
  margin-top: 5px;
  height: 23px; }
#pics div.controls a {
  padding: 5px; }
#pics div.ss-controls {
  float: left;
  display: none; }
#pics div.nav-controls {
  float: right;
  display: none; }
#pics div.slideshow-container {
  position: relative;
  clear: both;
  height: 502px;
  /* This should be set to be at least the height of the largest image in the slideshow */
  width: 960px;
  overflow-x: hidden;
  padding-bottom: 20px; }
#pics div.loader {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("loader.gif");
  background-repeat: no-repeat;
  background-position: center;
  width: 550px;
  height: 502px;
  /* This should be set to be at least the height of the largest image in the slideshow */ }
#pics div.slideshow span.image-wrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 0; }
#pics div.slideshow a.advance-link {
  display: block;
  width: 550px;
  height: 502px;
  /* This should be set to be at least the height of the largest image in the slideshow */
  line-height: 502px;
  /* This should be set to be at least the height of the largest image in the slideshow */
  text-align: center; }
#pics div.slideshow a.advance-link:hover, #pics div.slideshow a.advance-link:active, #pics div.slideshow a.advance-link:visited {
  text-decoration: none; }
#pics div.slideshow img {
  vertical-align: middle; }
#pics div.download {
  float: right; }
#pics div.caption-container {
  position: relative;
  clear: left;
  height: 75px; }
#pics span.image-caption {
  display: block;
  position: absolute;
  width: 550px;
  top: 0;
  left: 0; }
#pics div.caption {
  padding: 12px; }
#pics div.image-title {
  font-weight: bold;
  font-size: 1.4em; }
#pics div.image-desc {
  line-height: 1.3em;
  padding-top: 12px; }
#pics div.navigation {
  /* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */ }
#pics ul.thumbs {
  clear: both;
  margin: 0;
  padding: 0; }
#pics ul.thumbs li {
  float: left;
  padding: 0;
  margin: 5px 10px 5px 0;
  list-style: none; }
#pics a.thumb {
  padding: 2px;
  display: block; }
#pics ul.thumbs li.selected a.thumb {
  background: #000; }
#pics a.thumb:focus {
  outline: none; }
#pics ul.thumbs img {
  border: none;
  display: block; }
#pics div.pagination {
  clear: both; }
#pics div.navigation div.top {
  margin-bottom: 12px;
  height: 11px; }
#pics div.navigation div.bottom {
  margin-top: 12px; }
#pics div.pagination a, #pics div.pagination span.current, #pics div.pagination span.ellipsis {
  display: block;
  float: left;
  margin-right: 2px;
  padding: 4px 7px 2px 7px; }
#pics div.pagination a:hover {
  background-color: #eee;
  text-decoration: none; }
#pics div.pagination span.current {
  font-weight: bold;
  background-color: #000;
  border-color: #000;
  color: #fff; }
#pics div.pagination span.ellipsis {
  border: none;
  padding: 5px 0 3px 2px; }
